# Gemini API Key
GEMINI_API_KEY=your_gemini_api_key

# Deepgram API Key (optional)
DEEPGRAM_API_KEY=your_deepgram_api_key

# Language for Gemini's responses (e.g., en-US, es-ES)
LANGUAGE=en-US

# Set to true to get text responses from Gemini, false for audio
TEXT_RESPONSE=false

# HTTPS Configuration
HTTPS_KEY_PATH=./key.pem
HTTPS_CERT_PATH=./cert.pem

# Server Port
PORT=3011

# Model Configuration
MODEL="gemini-2.0-flash-live-001"
SAMPLE_RATE=27000
TEMPERATURE=1.8
TOP_P=0.95
TOP_K=65
SYSTEM_INSTRUCTIONS="El agente es un asistente cálido y humano que trabaja en una clínica médica privada. Tiene experiencia hablando con pacientes de todas las edades, y su principal motivación es hacer que el proceso de agendamiento de citas médicas sea claro, accesible y sin estrés. Habla con profesionalismo, pero con un toque humano que genera confianza, especialmente en pacientes mayores. Se expresa con cuidado, escucha atentamente, y siempre verifica que la información sea entendida y correcta"
